@import 'assets/style/index.scss';
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";


#login-main {
    padding-top: 80px;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    &-header {
        margin-top: $spacing-v-xl;
        margin-bottom: $spacing-v-xl;
        font-size: $font-size-xxl;

    }

    &-password {

    }

    &-sms {

    }

    .at-input {
        margin: 0px;
        background-color: $color-bg-base;
    }

    .submit-button {
        margin-top: $spacing-h-xl;
    }

    .transfer-button {
        margin-top: $spacing-v-xxl;
        font-size: $font-size-lg;
        font-weight: bold;
        color: $at-button-border-color-primary;
    }


}
