html.noscroll,
html.noscroll body {
    height: 100%;
    overflow: hidden;
    position: fixed;
}

.picker-address {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.2s;
    -webkit-animation: zindexdown .3s forwards;
            animation: zindexdown .3s forwards;


    &.visible {
        -webkit-animation: zindexup .3s forwards;
                animation: zindexup .3s forwards;
        background: rgba(0, 0, 0, 0.2);
        height: 100%;
        opacity: 1;
        overflow: hidden;

    }
    &.visible &-main {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }

    &-main {
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #fff;
        height: 70%;
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    
        &-title {
            -webkit-box-flex: 0;
                -ms-flex: none;
                    flex: none;

            &-text {
                font-size: 16px;
                padding: .8em;
                color: #666;
                text-align: center;
            }

            &-close {
                position: absolute;
                right: 16px;
                top: 16px;
                width: 16px;
                height: 16px;

                &::before, &::after {
                    content: '';
                    position: absolute;
                    height: 1px;
                    width: 100%;
                    top: 50%;
                    left: 0;
                    margin-top: 0px;
                    background: #999;
                } 

                &::before {
                    -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                }

                &::after {
                    -webkit-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                }
            }
        } 

        &-nav {
            -webkit-box-flex: 0;
                -ms-flex: none;
                    flex: none;
            position: relative;

            .atul {
                font-size: 14px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                overflow-y: scroll;
                overflow-scrolling: touch;
                -webkit-overflow-scrolling: touch;
                padding: 5px 20px;
                zoom: 1;

                &::-webkit-scrollbar {
                    display: none;
                }

                &::before, &:after {
                    content: " ";
                    display: table;
                }

                &::after {
                    clear: both;
                    visibility: hidden;
                    font-size: 0;
                    height: 0;
                }

                &::before {
                    content: '';
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    bottom: 0px;
                    background-color: #ddd;
                    -webkit-transform: scaleY(0.5);
                            transform: scaleY(0.5);
                }

                .atli {
                    -webkit-box-flex: 0;
                        -ms-flex: none;
                            flex: none;
                    padding: .5em 0;
                    text-align: center;
                    font-size: 14px;
                    color: #000;
                    margin-left: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 7em;
                    -webkit-user-select: none;
                       -moz-user-select: none;
                        -ms-user-select: none;
                            user-select: none;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        height: 1px;
                        background: transparent;
                    }

                    &::before {
                        background: #e53935;
                    }

                }
            }

            &-active {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 1px;
                background: #e53935;
                transition: left 0.3s ease-in;
                width: 50px;
            }

        }

        &-body {
            -webkit-box-flex: 1;
                -ms-flex: auto;
                    flex: auto;
            position: relative;

            > .wrap {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition-property: -webkit-transform;
                transition-property: transform;
                transition-property: transform, -webkit-transform;
                transition-duration: .3s;
                transition-timing-function: ease-in-out;
                zoom: 1;

                &::before, &::after {
                    content: " ";
                    display: table;
                }

                &::after {
                    clear: both;
                    visibility: hidden;
                    font-size: 0;
                    height: 0;
                }
            }

            &-item {
                font-size: 14px;
                position: relative;
                float: left;
                overflow-y: scroll;
                height: 100%;
                overflow-scrolling: touch;
                -webkit-overflow-scrolling: touch;
                padding: 5px 20px;
                width: 100vw;
                box-sizing: border-box;

                .atul {
                    .atli {
                        position: relative;
                        padding: 10px 0;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        -webkit-user-select: none;
                           -moz-user-select: none;
                            -ms-user-select: none;
                                user-select: none;

                        .active {
                            color: #e53935;
                        }

                        .text {
                            color: red;
                            position: absolute;
                            border-width: 0 2px 2px 0;
                            border-style: solid;
                            height: 13px;
                            width: 5px;
                            margin-left: 10px;
                            margin-top: -1px;
                            -webkit-transform: rotate(45deg);
                                    transform: rotate(45deg);
                        }
                    }
                }
            }
        }
    }

    atul, atli {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

@-webkit-keyframes zindexdown {
  0% {
    z-index: 999;
  }
  to {
    z-index: -1;
  }
}
@keyframes zindexdown {
  0% {
    z-index: 999;
  }
  to {
    z-index: -1;
  }
}
@-webkit-keyframes zindexup {
  0% {
    z-index: -1;
  }
  to {
    z-index: 999;
  }
}
@keyframes zindexup {
  0% {
    z-index: -1;
  }
  to {
    z-index: 999;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    background: transparent;
  }
  80% {
    opacity: .2;
  }
  to {
    opacity: 1;
    background: #e53935;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    background: transparent;
  }
  80% {
    opacity: .2;
  }
  to {
    opacity: 1;
    background: #e53935;
  }
}
