@import 'assets/style/index.scss';
@import "~taro-ui/dist/style/components/grid.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";
@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/card.scss";
@import "~taro-ui/dist/style/components/avatar.scss";
@import "~taro-ui/dist/style/components/modal.scss";


#myself-main {

    padding: 5%;
    background: #fafafa;

    &-remind {
        text-align: center;

        .content-simple{
            font-size: $font-size-lg;
            color: $color-brand-light;
        }

        @import 'assets/style/adapter';
    }

    &-header {
        margin-top: $spacing-v-xs;
        margin-bottom: $spacing-v-lg;

        &-portrait {

        }

        &-nick {
            margin-left: $spacing-h-lg;
            font-size: $font-size-xl;
            line-height: $at-avatar-size-md;
        }
    }

    .card-content {
        margin-top: $spacing-v-xs;
        margin-bottom: $spacing-v-lg;

        .at-card {
            margin-left: 0px;
            margin-right: 0px;
            border:none;
            .at-card__header {
                border:none;
                .at-card__header-title {
                }
            }

            .at-grid {
            }

        }
    }

    .list-content {
        border-radius: $border-radius-sm;
        margin-bottom: $spacing-v-lg;
        
        .at-list {
            &__item:last-child {
                &::after {
                    border: none;
                }
            }
            &::after{
                border: none;
            }
        }
    }

    .foot {
        background: $color-bg;
        border: none;
        margin-top: $spacing-v-lg;
        
        .logout {
            border: none;
        }
    }

}
