#myself-main {

    padding: 5%;
    background: #fafafa;

    #myself-main-header {
        margin-top: 5px;
        margin-bottom: 25px;
    }

    .card-content {
        margin-top: 5px;
        margin-bottom: 20px;

        .at-card {
            margin-left: 0px;
            margin-right: 0px;
            border:none;
            .at-card__header {
                border:none;
                .at-card__header-title {
                }
            }

            .at-grid {
            }

        }
    }

    .list-content {
        border-radius: 5px;
        margin-bottom: 20px;
        
        .at-list {
            &__item:last-child {
                &::after {
                    border: none;
                }
            }
            &::after{
                border: none;
            }
        }
    }

    .foot {
        background: #ffffff;
        border: none;
        margin-top: 25px;
        margin-bottom: 25px;
        
        .logout {
            border: none;
        }
    }

}
