@import 'assets/style/index.scss';
@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";


#edit-person {

    &-content {
        padding: 15px 0px 5px 0px;

        .at-list {
            margin-top: $spacing-v-xs;
            margin-bottom: $spacing-v-xxxl;
            border: red;

            &:after {
                border: none;
            }
        }

        @import 'assets/style/adapter';
    }

}
